--title 'Previsione Steg'
--charset utf-8
-e yard-switchyard.rb
--markup markdown
--markup-provider redcarpet
--template-path ./yard_templates
--protected
--private
--exclude /Prove/
--exclude /App/
--exclude /Ruby/
--exclude .rblcl
--exclude .yardoc
--exclude /doc/
--type-name-tag promises:"Promises"
--type-name-tag expects:"Expects"
--tag comment:"Comment"
--hide-tag comment
'steg.rb'
'app/**/*.rb'
'lib/**/*.rb'
-
CHANGELOG.md
README 
